body {

  overflow: hidden;
  background-color: rgb(50, 55, 59);

}

section {

    display: flex;
    text-align: center;
    margin-top: 5%;


}

section div, span {

    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;

}


.visualizza_span{
    color: red;
    visibility: visible;
    font-size: 0.5em;
}

.hidden{
    visibility: hidden;
    font-size: 0.5em;
    color: red;
}

.error{
    border:1px solid red;
    border-color: solid red;
}